.container {
  background-color: #1d1d1d;
  display: flex;
  border-radius: 5px;
  img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 120px;
    margin-left: 10px;
  }
  .right {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    justify-content: center;
  }

  @media screen and (max-width: 550px) {
    background-color: #1d1d1d;
    display: flex;
    border-radius: 5px;
    img {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      width: 100px;
    }
    .right {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 10px;
    }
  }
}
