.container {
  flex: 1;
  .content {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
      border-bottom: 1px solid #4b4b4b;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }

    .tecnologiasWrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  @media screen and (max-width: 990px) {
    .content {
      padding: 20px 20px;
      .header {
        margin-bottom: 15px;
      }
      .tecnologiasWrapper {
        gap: 15px;
      }
    }
  }
}
